In [1]:
1

1

In [2]:
2

2

In [3]:
2.4

2.4

In [4]:
1.0

1.0

In [5]:
1 + 1

2

In [6]:
2 + 3

5

In [7]:
3*9

27

In [8]:
1/2.0

0.5

In [9]:
2 ** 4

16

In [10]:
2 + 3 * (5+5)

32

In [13]:
4 % 2

0

In [14]:
4 % 3

1

In [15]:
47 % 34

13

In [16]:
8 % 2 == 0

True

In [17]:
var = 12

In [18]:
var1 = 13

In [19]:
var + var1

25

In [20]:
x = 6

In [23]:
x += 9

In [24]:
x

24

In [26]:
# Strings

In [27]:
"I can't go"

"I can't go"

In [28]:
"I can\"t go"

'I can"t go'

In [29]:
x = 'hello'

In [30]:
x

'hello'

In [31]:
print(x)

hello

In [37]:
num = 12
name = 'Sam'
'My number is {one} and my name is {two}, more {one}'.format(one = num, two = name)

'My number is 12 and my name is Sam, more 12'

In [ ]:
# Indexing strings

In [38]:
s = 'hello'

In [39]:
s[0]

'h'

In [41]:
s = 'skfskjhksjdbc'

In [42]:
s[0]

's'

In [43]:
s[0:7]

'skfskjh'

In [44]:
s[:]

'skfskjhksjdbc'

In [45]:
s[:3]

'skf'

In [48]:
s[0:3]

'skf'

In [49]:
s[3:6]

'skj'

In [50]:
# Lists
[1,2,3,4]

[1, 2, 3, 4]

In [51]:
lst = [3,3,4,2,2]

In [52]:
lst[2]

4

In [55]:
lst.append(5)

In [56]:
lst

[3, 3, 4, 2, 2, 5, 5]

In [57]:
lst[0]

3

In [59]:
lst[:3]

[3, 3, 4]

In [62]:
nest = [1,2,[3,4]]

In [63]:
nest[2]

[3, 4]

In [64]:
nest[2][1]

4

In [66]:
# Dictionaries

In [67]:
d = {'key1':'value', 'key2' : 123}

In [68]:
d

{'key1': 'value', 'key2': 123}

In [69]:
d['key1']

'value'

In [70]:
d = {'k1' :  [12,3,4,4]}

In [72]:
d['k1'][0]

12

In [75]:
d = {'k1' : {'innerkey' : [1,2,3]}}

In [77]:
d['k1']['innerkey'][1]

2

In [78]:
# Booleans

In [79]:
True

True

In [80]:
False

False

In [81]:
t=(1,2,3)

In [82]:
my_list = [1,2,3]

In [83]:
my_list[0] = 9

In [84]:
t[1]

2

In [85]:
t[1] = 8

TypeError: 'tuple' object does not support item assignment

In [89]:
s = {1,2,3,2,3,4}

In [90]:
# only unique elements

In [91]:
s.add(6)

In [92]:
s

{1, 2, 3, 4, 6}

In [93]:
1 > 2

False

In [94]:
1 < 2

True

In [95]:
1 <= 1

True

In [96]:
1 == 1

True

In [97]:
'hi' =='hi'

True

In [98]:
if 1 < 2:
    print("yep")

yep

In [99]:
if True:
    x = 2+  2

In [100]:
x

4

In [101]:
if 1  == 2 :
    print("First")
else:
    print("Last")

Last

In [102]:
if 2 == 2 :
    print("First")
elif 3 == 3:
    print("Middle")
else:
    print("Last")

First

In [103]:
# For loops and while loops

In [104]:
seq = [1,2,3,4,5]

In [105]:
for item in seq:
    print(item)

1
2
3
4
5

In [109]:
for item in 'banana':
    print(item)

b
a
n
a
n
a

In [2]:
i=1 

while i < 5 : 
    print('i is: {one}'.format(one = i))
    i += 1

i is: 1
i is: 2
i is: 3
i is: 4

In [3]:
range(20)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [7]:
for i in range(5):
    print("X")

X
X
X
X
X

In [8]:
range(0,5)

[0, 1, 2, 3, 4]

In [10]:
range(0,5) == range(5)

True

In [11]:
# List Comprehension

In [17]:
x = [1,2,3,4]
out = []

In [18]:
for num in x:
    out.append(num**2)

In [19]:
out

[1, 4, 9, 16]

In [21]:
out = [num ** 2 for num in x]

In [22]:
out

[1, 4, 9, 16]

In [ ]:
# Saves some typing

In [23]:
# Functions

In [24]:
def my_func(param1) : 
    print(param1)

my_func("hello")

hello

In [27]:
def my_func(name = 'Default name'):
    print("hello {}".format(name))

In [28]:
my_func('Jose')

hello Jose

In [29]:
my_func()

hello Default name

In [30]:
my_func

In [31]:
def square(num):
    return num **2

In [32]:
out = square(2)

In [33]:
out

4

In [34]:
square(9)

81

In [43]:
def cube(num):
    """
    This is a docstring. 
    can go multiple lines. 
    This function cubes a number"""
    return(num ** 3)

In [44]:
cube(9)

729

In [42]:
cube

In [ ]:
cube

In [45]:
# map

In [46]:
def times2(var):
    return var * 2

In [48]:
times2(6)

12

In [49]:
seq = [1,2,3,4,5]

In [53]:
list(map(times2, seq))

[2, 4, 6, 8, 10]

In [54]:
# lambda expression / anonumous function

In [55]:
def times2(var) : return var * 2

In [56]:
t = lambda var : var * 2

In [60]:
map(lambda var: var ** 2, [2,3,4])

[4, 9, 16]

In [61]:
filter(lambda num : num%2 == 0, seq)

[2, 4]

In [62]:
s = 'hello my name is Sam'

In [64]:
s.upper()

'HELLO MY NAME IS SAM'

In [65]:
s.lower()

'hello my name is sam'

In [66]:
s.split()

['hello', 'my', 'name', 'is', 'Sam']

In [67]:
tweet = 'Go Sports! # SPorts'

In [68]:
tweet.split()

['Go Sports! ', ' SPorts']

In [69]:
d = {'k2':2, 'k1':1}

In [71]:
d.keys()

['k2', 'k1']

In [76]:
d.items()

[('k2', 2), ('k1', 1)]

In [77]:
d.values()

[2, 1]

In [78]:
lst = [1,2,3]

In [79]:
lst.pop()

3

In [80]:
lst

[1, 2]

In [81]:
lst = [1,2,3,4,5]

In [82]:
lst.pop(0)

1

In [83]:
lst

[2, 3, 4, 5]

In [84]:
lst.append('new')

In [85]:
lst

[2, 3, 4, 5, 'new']

In [86]:
'x' in [1,2,3]

False

In [87]:
'x' in ['x', 1,2,3]

True

In [88]:
x = [(1,2), (2,3), (4,5)]

In [89]:
x[0]

(1, 2)

In [90]:
for item in x:
    print(item)

(1, 2)
(2, 3)
(4, 5)

In [92]:
# Tuple Unpacking
for a,b in x:
    print(a)

1
2
4